<a href="https://colab.research.google.com/github/aimlhoney/LENDING_CLUB_CASE_STUDY/blob/master/Lending_club_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_data_set = pd.read_csv('https://cdn.upgrad.com/UpGrad/temp/3ba74fb7-bd88-4854-8597-1c225a5aed99/loan.zip')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan_data_set

            id  member_id  ...  total_bc_limit  total_il_high_credit_limit
0      1077501    1296599  ...             NaN                         NaN
1      1077430    1314167  ...             NaN                         NaN
2      1077175    1313524  ...             NaN                         NaN
3      1076863    1277178  ...             NaN                         NaN
4      1075358    1311748  ...             NaN                         NaN
...        ...        ...  ...             ...                         ...
39712    92187      92174  ...             NaN                         NaN
39713    90665      90607  ...             NaN                         NaN
39714    90395      90390  ...             NaN                         NaN
39715    90376      89243  ...             NaN                         NaN
39716    87023      86999  ...             NaN                         NaN

[39717 rows x 111 columns]

In [4]:
data_dictionary = pd.read_excel('https://cdn.upgrad.com/UpGrad/temp/af860da6-f838-47d6-ad97-551022550ee4/Data_Dictionary.xlsx')

In [6]:
data_dictionary

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [7]:
data_dictionary.columns

Index(['LoanStatNew', 'Description'], dtype='object')

In [ ]:
loan_data_set.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [ ]:
loan_data_set.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [8]:
loan_data_set.describe()

                 id     member_id  ...  total_bc_limit  total_il_high_credit_limit
count  3.971700e+04  3.971700e+04  ...             0.0                         0.0
mean   6.831319e+05  8.504636e+05  ...             NaN                         NaN
std    2.106941e+05  2.656783e+05  ...             NaN                         NaN
min    5.473400e+04  7.069900e+04  ...             NaN                         NaN
25%    5.162210e+05  6.667800e+05  ...             NaN                         NaN
50%    6.656650e+05  8.508120e+05  ...             NaN                         NaN
75%    8.377550e+05  1.047339e+06  ...             NaN                         NaN
max    1.077501e+06  1.314167e+06  ...             NaN                         NaN

[8 rows x 87 columns]